<div>
  <h1>Coming Winter/Spring 2018!</h1>
  <md-card>
      <md-card-title>Our Vision</md-card-title>
    <md-card-content>
      Ciitizen-gamers providing the Rochester area an Adventure League experience to help children in need.
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Who are we aiming to help?</md-card-title>
    <md-card-content>TBA</md-card-content>
  </md-card>
  <md-card>
    <md-card-title>What we're going to have</md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item>Adventure League Play</md-list-item>
        <md-list-item>Adventure League Custom Content</md-list-item>
        <md-list-item>lofty goal #1</md-list-item>
        <md-list-item>lofty goal #2</md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
