<md-toolbar color="primary">
  <span>R.A.G.E. Con</span>
</md-toolbar>
<!--<md-toolbar color="accent">-->
  <!--&lt;!&ndash;<span class="fill-remaining-space"></span>&ndash;&gt;-->
  <!--<span class="sub-row">Coming Winter/Spring 2018</span>-->
<!--</md-toolbar>-->

<md-tab-group>
  <md-tab label="Home">
    <rc-about></rc-about>
  </md-tab>
  <md-tab label="Registration">
    <rc-registration></rc-registration>
  </md-tab>
  <md-tab label="Staff">
    <rc-staff></rc-staff>
  </md-tab>
  <md-tab label="Games & Events">
    <rc-games-and-events></rc-games-and-events>
  </md-tab>
  <md-tab label="Sponsors">
    <rc-sponsors></rc-sponsors>
  </md-tab>
</md-tab-group>
